<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.vam.mapper.AdminMapper">
 
 
  <!-- 작가 등록 -->
  
  	<insert id="bookEnroll">
  	
  		INSERT INTO
  			 vam_book(bookName
  					 , authorId
  					 , publeYear
  					 , publisher
  					 , cateCode
  					 , bookPrice
  					 , bookStock
  					 , bookDiscount
  					 , bookIntro
  					 , bookContents
  			)
			VALUES(
					#{bookName}
					,#{authorId}
					, #{publeYear}
					,#{publisher}
					,#{cateCode}
					,#{bookPrice}
					,#{bookStock}
					,#{bookDiscount}
					,#{bookIntro}
					,#{bookContents})

  	</insert>
  	
  	
  	<!-- 카테고리 리스트 -->
  	
  	<select id="cateList" resultType="com.vam.model.CateVO">
  	
  		SELECT * FROM 
  						vam_bcate order 
  					BY 
  						catecode
  	
  	</select>
  	
  	
  	<!-- 상품 리스트 -->
  	
  	<select id="goodsGetList" resultType="com.vam.model.BookVO">
  	
	  	<![CDATA[
		SELECT * FROM(
		    SELECT /*+INDEX_DESC(vam_book SYS_C007361)*/ rownum as rn, bookId, bookName,
		        (select authorName from vam_author where vam_book.authorId = vam_author.authorId) authorName,
		        (select cateName from vam_bcate where vam_book.cateCode = vam_bcate.cateCode) cateName,bookStock,regDate
		    FROM 
		    	vam_book 
		    WHERE 
		]]>    
		
		    <if test="keyword != null">
		    
			    bookName like '%' || #{keyword} || '%' and
			    
		    </if>
		     
		<![CDATA[    
		    rownum <= #{pageNum} * #{amount} 
		    )
		where rn > (#{pageNum} -1) * #{amount}		  	
  		]]>
  	
  	</select>
  	
  	
  	<!-- 상품 총 개수 -->
  	
  	<select id="goodsGetTotal" resultType="int">
  	
  		SELECT 
  			count(*) 
  		FROM 
  			vam_book
  		
  		<if test="keyword != null">
  		
  			WHERE bookName LIKE '%' || #{keyword} || '%'
  		</if>
  		
  	</select> 
  	
  	
  	<!-- 상품 조회 페이지 -->
  	
	<select id="goodsGetDetail" resultType="com.vam.model.BookVO">
	
		SELECT 
				bookId
				, bookName
				, (select authorName 
		FROM 
				vam_author
		WHERE 
				authorId =vam_book.authorId)
				authorName
				, authorId
				, publeYear
				, publisher
				, cateCode
				, bookPrice
				, bookStock
				, bookDiscount
				, bookIntro
				, bookContents
				, regDate
				, updateDate 
		FROM
				 vam_book 
		WHERE
				 bookId = #{bookId}
	
	</select>
	
	
	<!-- 상품 정보 삭제 -->
	<delete id="goodsDelete">
	
		DELETE FROM 
					vam_book 
			   WHERE
					 bookId = #{bookId}
	
	</delete>
  	
 </mapper>	